{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}

{{/each}}

<h3>Nova Postagem</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/nova" method="post">
            <label for="titulo">Título:</label>
            <input type="text" name="txtTitulo" id="titulo" placeholder="Título da postagem" class="form-control mb-3">
            <label for="slug">Slug:</label>
            <input type="text" name="txtSlug" id="slug" placeholder="Slug da postagem" class="form-control mb-3">
            <label for="descricao">Descrição:</label>
            <input type="text" name="txtDescricao" id="descricao" placeholder="Descrição da postagem" class="form-control mb-3">
            <label for="conteudo">Conteúdo:</label>
            <textarea name="txtConteudo" id="conteudo" placeholder="Conteúdo da postagem" class="form-control mb-3"></textarea>
            <label for="categoria">Categoria:</label><br>
            <select name="txtCategoria" id="categoria" class="form-select">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-success mt-3">Criar Postagem</button>
        </form>
    </div>
</div>