<h1>Postagens</h1>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4 mb-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <small>Descrição: {{descricao}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>Slug: {{slug}}</small><br>
            <small>Data da postagem: {{data}}</small>
            <hr>
            <p>{{conteudo}}</p>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-primary">Atualizar</button></a>
            <a href="/admin/postagens/delete/{{_id}}"><button class="btn btn-danger">Eliminar</button></a>
        </div>
    </div>
    {{else}}
        <p>Nenhuma postagem criada</p>
{{/each}}